<!DOCTYPE html>
<html>
<head>
	<title>Galaxy BBC 100</title>
	<script type="text/javascript" src="../lib/underscore.js"></script>
	<script type="text/javascript" src="../lib/d3.v4.js"></script>

	<script type="text/javascript" src="../models/critic.js"></script>
	<script type="text/javascript" src="../models/database.js"></script>
	<script type="text/javascript" src="../models/movie.js"></script>
	<script type="text/javascript" src="../models/ranking.js"></script>

	<script type="text/javascript" src="../test.js"></script>
</head>
<body>

	<canvas id="screen"></canvas>

</body>
</html>