* {
    box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

#app {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: stretch;
}

#sidebar {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;
}

#main {
  flex-basis: 75%;
}

#scene {
  width: 100%;
  height: 100%;
}

#movie_info {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

#movie_info div {
  margin: 20px;
}

#infoheap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#infoheap div {
  margin: 3px;
  padding: 5px 20px 5px;
  background-color: cornflowerblue;
  border-radius: 2px;

  flex-grow: 1;
}

button {
	font-size : 25px;
    background-color: white;
    color: black;
    border: 2px solid black; /* Green */

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	width : 100%;
}

button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

img {
    display: block;
    margin: auto;
    width: 50%;
	padding-top : 15px;
}

ul {
	list-style-type :none;
	padding : 0px;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

