<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Galaxy BBC 100</title>

	<link rel="shortcut icon" href="favicon.ico" />

	<script type="text/javascript" src="../lib/underscore.js"></script>
	<script type="text/javascript" src="../lib/d3.v4.js"></script>
	<script type="text/javascript" src="../lib/mustache.js"></script>

	<script type="text/javascript" src="../models/critic.js"></script>
	<script type="text/javascript" src="../models/database.js"></script>
	<script type="text/javascript" src="../models/movie.js"></script>
	<script type="text/javascript" src="../models/ranking.js"></script>

	<script type="text/javascript" src="../scene/scene.js"></script>
	<script type="text/javascript" src="../scene/zoom.js"></script>
	<script type="text/javascript" src="../scene/gravity.js"></script>
	<script type="text/javascript" src="../scene/events.js"></script>
	<script type="text/javascript" src="../scene/filterManager.js"></script>

	<script type="text/javascript" src="../test.js"></script>

	<script
	src="https://code.jquery.com/jquery-3.1.1.min.js"
	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	crossorigin="anonymous">
</script>

<link href="../template/galaxy.css" rel="stylesheet">
</head>
<body>

	<form action="" id="parameters">
  	<input type="radio" id="genreSelect" name="colorSelect" value="genre" onclick="onRadioClick()" checked> Genre of movies<br>
  	<input type="radio" id="natSelect" name="colorSelect" value="nat" onclick="onRadioClick()"> Nationality<br>
	</form>


	<div id="template" style="display : none">
			<div>
				<img src={{poster}} alt="Poster not available">
			</div>
			<div id="infoheap">
				<div onclick="onTitleClick()">{{title}}</div>
				<div>Rank: {{rank}}</div>
				<div onclick="scene.filterManager.addDirectorFilter()">{{director}}</div>
				<div onclick="scene.filterManager.addYearFilter()">{{year}}</div>
				<div onclick="scene.filterManager.addGenreFilter()">{{genre}}</div><!-- TODO make a button by genre -->
			</div>
	</div>

	<div id="filterList"></div>

	<div id="app">
		<div id="main">
			<svg id="scene">
				<g id="rank"></g>
				<g id="constellation"></g>
				<g id="moviesSelected"></g>
				<g id="criticsOrbite"></g>
				<g id="movies"></g>
				<g id="critics"></g>
			</svg>
		</div>

		<div id="sidebar">
			<div id="movie_info"> <!-- will be rendered with the template-->
			</div>

			<div id="critic_info">
				<div></div>
				<div></div>
				<div></div>
				<div class="clicable" onclick="onTopTenClic()">Show constellation</div>
			</div>

			<div id="histo">
				<svg id="svgHisto" class="chart"></svg>
			</div>
		</div>
	</div>

	<div id="legend">
		<ul id="legendGenre" style="display: block;">
			<li><span style="background: #000;" onclick='scene.filterManager.addGenreFilterLegend(["Drama"])'></span>Drama</li>
			<li><span style="background: #ff0;" onclick='scene.filterManager.addGenreFilterLegend(["Comedy"])'></span>    Comedy</li>
			<li><span style="background: #ff00bf;" onclick='scene.filterManager.addGenreFilterLegend(["Romance"])'></span> Romance</li>
			<li><span style="background: #848484;" onclick='scene.filterManager.addGenreFilterLegend([" Thriller","Crime"])'></span> Thriller, Crime</li>
			<li><span style="background: #df0101;" onclick='scene.filterManager.addGenreFilterLegend(["Action","Adventure"])'></span> Action, Adventure</li>
			<li><span style="background: #31b404;" onclick='scene.filterManager.addGenreFilterLegend(["Biography","History","Documentary"]);'></span> Biography, History, Documentary</li>
			<li><span style="background: #3cf;"></span>    Other</li>
		</ul>
		<ul id="legendGeo" style="display: none;">
			<li><span style="background: #f00;"></span>    Asia</li>
			<li><span style="background: #ff0;"></span>    North America</li>
			<li><span style="background: #00f;"></span>    Europe</li>
			<li><span style="background: #0B610B;"></span> Middle East</li>
		</ul>
	</div>

</body>

<!--<script>

var data = [4, 8, 15, 16, 23, 42];

var x = d3.scaleLinear()
    .domain([0, d3.max(data)])
    .range([0, 400]);

d3.select(".chart")
  .selectAll("div")
    .data(data)
  .enter().append("div")
    .style("width", function(d) { return x(d) + "px"; })
    .text(function(d) { return d; });

</script>-->
</html>
